header {
  background-image: url("/images/background.jpg");
}

#header {
  padding-left: 100px;
  padding-top: 35px;
  display: flex;
}
#list-header > li {
  display: inline-block;
  color: white;
  list-style: none;
  font-family: Istok Web, sans-serif;
  font-style: Regular;
  margin-left: 150px;
}

#list-header {
  margin: 0px;
  margin-top: 30px;
}

#first-page {
  background-image: url("/images/background.jpg");
  margin: 0px;
  height: 1000px;
}

.block {
    display: flex; 
}

#cable {
    margin-left: 110px;
}

body {
  margin: 0px;
}


#main-logo-text {
  width: 400px;
  height: auto;
  margin-top: 175px;
  margin-left: 160px;
}

#phone {
  width: 500px;
  height: auto;
  margin-left: 100px;
  margin-top: 100px;
}

.phone {
  border-radius: 50px;
}