header {
  background-image: url("/images/background.jpg");
}

#header {
  padding-left: 100px;
  padding-top: 35px;
  display: flex;
}

#list-header > li {
  display: inline-block;
  color: white;
  list-style: none;
  font-family: Istok Web, sans-serif;
  font-style: Regular;
  margin-left: 100px;
}

#list-header {
  margin: 0px;
  margin-top: 30px;
}

#first-page {
  background-image: url("/images/background.jpg");
  margin: 0px;
  height:800px;
}

.block {
    display: flex; 
}

#cable {
    margin-left: 278px;
}

body {
  margin: 0px;
}


#main-logo-text {
  width: 400px;
  height: auto;
  margin-top: 175px;
  margin-left: 150px;
}
#phone {
  margin-left: 300px;
  margin-top: 10px;
}

.phone {
  width: 300px;
  height: auto;
  border-radius: 50px;
}

#desription {
  color: white;
  font-family: Istok Web, sans-serif;
  padding-left: 150px;
  padding-top: 125px;
}

.left-part {
  display: inline-block;
}

#second-page {
  background-color: #D53005;
  margin: 0px;
}

.music-text {
  margin: 0px;
  padding: 0px;
  font-family: Karia, sans-serif;
  font-style: Regular;
}
